main {
    display: block;
    width: auto;
}
picture {
    display: block;
    background-color: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}