body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, header h1{
    text-align: start;
    background-color: rgb(155, 80, 224);
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
    max-width: 400px;
    margin:0 auto;
}

.wf1 form {
    justify-content: left;
    text-align: start;
}
.wf1 fieldset {
    text-align: start;
    border: solid thin black;
}
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"]{
    background-color: #c2c1c1;
    display:block;
    border: solid thin darkgrey;
    border-radius: 5px;
    padding: .75rem;
    color: #000000;
    width: 80%;
    max-width: 400px;
    

}

.wf1 textarea {
    width: 100%;
    height:200px;
    max-width: 400px;
}

div {
    margin:.5rem
}

.features label{
    display:block;
    margin: .1rem
}

.rating label {
    display:inline-block;
}

.wf1 input[type="submit"]{
    border:none;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: .8rem;
    width: 50%;
    max-width: 400px;
    background-color: rgb(255, 251, 0);
    margin: 1rem 0;
    box-shadow: 1px 1px 4px #000000;
}
