* {
    --main-bg-color: rgb(12, 19, 124);
    --faded-bg-color: rgba(92, 180, 180, 0.486);
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
header {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    font-family: "faculty glyphic", sans-serif;
}
.heroimg {
        max-width: 100vw;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }
    .heroimg img {
        max-width: 100%;
        height: auto;
        z-index: 0;
        position: relative;
    }
h1 {
	font-size: auto;
	padding: 1rem;
    font-family: "faculty glyphic", sans-serif;
	color: #fff;
	text-align: center;
}
main {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
table th {
    text-align: right;
}
table td {
    text-align: left;
}
table {
    margin: 0 auto;
}
.weather {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.weather h2 {
    margin: 0;
}
.weather img {
    height: auto;
    width: 50px;

}
footer {
    background-color: var(--main-bg-color);
    color: rgb(255, 255, 255);
    grid-column: 1/4;
    text-align: center;
}
footer p {
    background-color: var(--main-bg-color);
}



