.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    font-family: "Roboto";
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: thin solid #00000091;
    padding: 1rem;
    background-color: rgba(45, 45, 185, 0.534);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}